:root {
  --freya-color-windi-rose-700: rgb(190, 18, 60);
  --freya-color-windi-pink-700: rgb(190, 24, 93);
  --freya-color-windi-fuchsia-700: rgb(162, 28, 175);
  --freya-color-windi-purple-700: rgb(126, 34, 206);
  --freya-color-windi-violet-700: rgb(109, 40, 217);
  --freya-color-windi-indigo-700: rgb(67, 56, 202);
  --freya-color-windi-blue-700: rgb(29, 78, 216);
  --freya-color-windi-sky-700: rgb(3, 105, 161);
  --freya-color-windi-cyan-700: rgb(14, 116, 144);
  --freya-color-windi-teal-700: rgb(15, 118, 110);
  --freya-color-windi-emerald-700: rgb(4, 120, 87);
  --freya-color-windi-green-700: rgb(21, 128, 61);
  --freya-color-windi-lime-700: rgb(77, 124, 15);
  --freya-color-windi-yellow-700: rgb(161, 98, 7);
  --freya-color-windi-amber-700: rgb(180, 83, 9);
  --freya-color-windi-orange-700: rgb(194, 65, 12);
  --freya-color-windi-red-700: rgb(185, 28, 28);
  --freya-color-windi-gray-700: rgb(55, 65, 81);
  --freya-color-windi-slate-700: rgb(51, 65, 85);
  --freya-color-windi-zinc-700: rgb(63, 63, 70);
  --freya-color-windi-neutral-700: rgb(64, 64, 64);
  --freya-color-windi-stone-700: rgb(68, 64, 60);
  --freya-color-windi-dark-700: rgb(27, 27, 27);
  --freya-color-windi-light-700: rgb(233, 236, 239);
}
