:root {
  --freya-color-windi-rose-800: rgb(159, 18, 57);
  --freya-color-windi-pink-800: rgb(157, 23, 77);
  --freya-color-windi-fuchsia-800: rgb(134, 25, 143);
  --freya-color-windi-purple-800: rgb(107, 33, 168);
  --freya-color-windi-violet-800: rgb(91, 33, 182);
  --freya-color-windi-indigo-800: rgb(55, 48, 163);
  --freya-color-windi-blue-800: rgb(30, 64, 175);
  --freya-color-windi-sky-800: rgb(7, 89, 133);
  --freya-color-windi-cyan-800: rgb(21, 94, 117);
  --freya-color-windi-teal-800: rgb(17, 94, 89);
  --freya-color-windi-emerald-800: rgb(6, 95, 70);
  --freya-color-windi-green-800: rgb(22, 101, 52);
  --freya-color-windi-lime-800: rgb(63, 98, 18);
  --freya-color-windi-yellow-800: rgb(133, 77, 14);
  --freya-color-windi-amber-800: rgb(146, 64, 14);
  --freya-color-windi-orange-800: rgb(154, 52, 18);
  --freya-color-windi-red-800: rgb(153, 27, 27);
  --freya-color-windi-gray-800: rgb(31, 41, 55);
  --freya-color-windi-slate-800: rgb(30, 41, 59);
  --freya-color-windi-zinc-800: rgb(39, 39, 42);
  --freya-color-windi-neutral-800: rgb(38, 38, 38);
  --freya-color-windi-stone-800: rgb(41, 37, 36);
  --freya-color-windi-dark-800: rgb(24, 24, 24);
  --freya-color-windi-light-800: rgb(222, 226, 230);
}