:root {
  --freya-color-windi-rose-900: rgb(136, 19, 55);
  --freya-color-windi-pink-900: rgb(131, 24, 67);
  --freya-color-windi-fuchsia-900: rgb(112, 26, 117);
  --freya-color-windi-purple-900: rgb(88, 28, 135);
  --freya-color-windi-violet-900: rgb(76, 29, 149);
  --freya-color-windi-indigo-900: rgb(49, 46, 129);
  --freya-color-windi-blue-900: rgb(30, 58, 138);
  --freya-color-windi-sky-900: rgb(12, 74, 110);
  --freya-color-windi-cyan-900: rgb(22, 78, 99);
  --freya-color-windi-teal-900: rgb(19, 78, 74);
  --freya-color-windi-emerald-900: rgb(6, 78, 59);
  --freya-color-windi-green-900: rgb(20, 83, 45);
  --freya-color-windi-lime-900: rgb(54, 83, 20);
  --freya-color-windi-yellow-900: rgb(113, 63, 18);
  --freya-color-windi-amber-900: rgb(120, 53, 15);
  --freya-color-windi-orange-900: rgb(124, 45, 18);
  --freya-color-windi-red-900: rgb(127, 29, 29);
  --freya-color-windi-gray-900: rgb(17, 24, 39);
  --freya-color-windi-slate-900: rgb(15, 23, 42);
  --freya-color-windi-zinc-900: rgb(24, 24, 27);
  --freya-color-windi-neutral-900: rgb(23, 23, 23);
  --freya-color-windi-stone-900: rgb(28, 25, 23);
  --freya-color-windi-dark-900: rgb(15, 15, 15);
  --freya-color-windi-light-900: rgb(221, 225, 227);
}