:root {
  --freya-color-windi-emerald-50: rgb(236, 253, 245);
  --freya-color-windi-emerald-100: rgb(209, 250, 229);
  --freya-color-windi-emerald-200: rgb(167, 243, 208);
  --freya-color-windi-emerald-300: rgb(110, 231, 183);
  --freya-color-windi-emerald-400: rgb(52, 211, 153);
  --freya-color-windi-emerald-500: rgb(16, 185, 129);
  --freya-color-windi-emerald-600: rgb(5, 150, 105);
  --freya-color-windi-emerald-700: rgb(4, 120, 87);
  --freya-color-windi-emerald-800: rgb(6, 95, 70);
  --freya-color-windi-emerald-900: rgb(6, 78, 59);
}
