:root {
  --freya-color-windi-lime-50: rgb(247, 254, 231);
  --freya-color-windi-lime-100: rgb(236, 252, 203);
  --freya-color-windi-lime-200: rgb(217, 249, 157);
  --freya-color-windi-lime-300: rgb(190, 242, 100);
  --freya-color-windi-lime-400: rgb(163, 230, 53);
  --freya-color-windi-lime-500: rgb(132, 204, 22);
  --freya-color-windi-lime-600: rgb(101, 163, 13);
  --freya-color-windi-lime-700: rgb(77, 124, 15);
  --freya-color-windi-lime-800: rgb(63, 98, 18);
  --freya-color-windi-lime-900: rgb(54, 83, 20);
}
