:root {
  --freya-color-windi-pink-50: rgb(253, 242, 248);
  --freya-color-windi-pink-100: rgb(252, 231, 243);
  --freya-color-windi-pink-200: rgb(251, 207, 232);
  --freya-color-windi-pink-300: rgb(249, 168, 212);
  --freya-color-windi-pink-400: rgb(244, 114, 182);
  --freya-color-windi-pink-500: rgb(236, 72, 153);
  --freya-color-windi-pink-600: rgb(219, 39, 119);
  --freya-color-windi-pink-700: rgb(190, 24, 93);
  --freya-color-windi-pink-800: rgb(157, 23, 77);
  --freya-color-windi-pink-900: rgb(131, 24, 67);
}
