:root {
  --freya-color-windi-teal-50: rgb(240, 253, 250);
  --freya-color-windi-teal-100: rgb(204, 251, 241);
  --freya-color-windi-teal-200: rgb(153, 246, 228);
  --freya-color-windi-teal-300: rgb(94, 234, 212);
  --freya-color-windi-teal-400: rgb(45, 212, 191);
  --freya-color-windi-teal-500: rgb(20, 184, 166);
  --freya-color-windi-teal-600: rgb(13, 148, 136);
  --freya-color-windi-teal-700: rgb(15, 118, 110);
  --freya-color-windi-teal-800: rgb(17, 94, 89);
  --freya-color-windi-teal-900: rgb(19, 78, 74);
}
