:root {
  --freya-color-deep-purple-50: rgb(237, 231, 246);
  --freya-color-deep-purple-100: rgb(209, 196, 233);
  --freya-color-deep-purple-200: rgb(179, 157, 219);
  --freya-color-deep-purple-300: rgb(149, 117, 205);
  --freya-color-deep-purple-400: rgb(126, 87, 194);
  --freya-color-deep-purple-500: rgb(103, 58, 183);
  --freya-color-deep-purple-600: rgb(94, 53, 177);
  --freya-color-deep-purple-700: rgb(81, 45, 168);
  --freya-color-deep-purple-800: rgb(69, 39, 160);
  --freya-color-deep-purple-900: rgb(49, 27, 146);
  --freya-color-deep-purple-a100: rgb(179, 136, 255);
  --freya-color-deep-purple-a200: rgb(124, 77, 255);
  --freya-color-deep-purple-a400: rgb(101, 31, 255);
  --freya-color-deep-purple-a700: rgb(98, 0, 234);
}
