:root {
  --freya-color-light-green-50: rgb(241, 248, 233);
  --freya-color-light-green-100: rgb(220, 237, 200);
  --freya-color-light-green-200: rgb(197, 225, 165);
  --freya-color-light-green-300: rgb(174, 213, 129);
  --freya-color-light-green-400: rgb(156, 204, 101);
  --freya-color-light-green-500: rgb(139, 195, 74);
  --freya-color-light-green-600: rgb(124, 179, 66);
  --freya-color-light-green-700: rgb(104, 159, 56);
  --freya-color-light-green-800: rgb(85, 139, 47);
  --freya-color-light-green-900: rgb(51, 105, 30);
  --freya-color-light-green-a100: rgb(204, 255, 144);
  --freya-color-light-green-a200: rgb(178, 255, 89);
  --freya-color-light-green-a400: rgb(118, 255, 3);
  --freya-color-light-green-a700: rgb(100, 221, 23);
}
