:root {
  --freya-color-pink-50: rgb(252, 228, 236);
  --freya-color-pink-100: rgb(248, 187, 208);
  --freya-color-pink-200: rgb(244, 143, 177);
  --freya-color-pink-300: rgb(240, 98, 146);
  --freya-color-pink-400: rgb(236, 64, 122);
  --freya-color-pink-500: rgb(233, 30, 99);
  --freya-color-pink-600: rgb(216, 27, 96);
  --freya-color-pink-700: rgb(194, 24, 91);
  --freya-color-pink-800: rgb(173, 20, 87);
  --freya-color-pink-900: rgb(136, 14, 79);
  --freya-color-pink-a100: rgb(255, 128, 171);
  --freya-color-pink-a200: rgb(255, 64, 129);
  --freya-color-pink-a400: rgb(245, 0, 87);
  --freya-color-pink-a700: rgb(197, 17, 98);
}
