:root {
  --freya-color-purple-50: rgb(243, 229, 245);
  --freya-color-purple-100: rgb(225, 190, 231);
  --freya-color-purple-200: rgb(206, 147, 216);
  --freya-color-purple-300: rgb(186, 104, 200);
  --freya-color-purple-400: rgb(171, 71, 188);
  --freya-color-purple-500: rgb(156, 39, 176);
  --freya-color-purple-600: rgb(142, 36, 170);
  --freya-color-purple-700: rgb(123, 31, 162);
  --freya-color-purple-800: rgb(106, 27, 154);
  --freya-color-purple-900: rgb(74, 20, 140);
  --freya-color-purple-a100: rgb(234, 128, 252);
  --freya-color-purple-a200: rgb(224, 64, 251);
  --freya-color-purple-a400: rgb(213, 0, 249);
  --freya-color-purple-a700: rgb(170, 0, 255);
}
