/* stylelint-disable-next-line selector-class-pattern */
.freya\@root {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: black;
  font-family: var(--freya-font-varela-round);
}

.freya\@loading {
  color: rgb(224, 224, 224);
}

.freya\@loading__text {
  margin: 0;
}

.freya\@image {
  display: block;
}

.freya\@svg {
  display: block;
}

.freya\@svg-icon {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  stroke: currentColor;
  stroke-width: 0;
  fill: currentColor;
}

.freya\@svg-definitions {
  display: none;
}

.freya\@slide {
  position: relative;
  display: flex;
  z-index: 1;
  overflow: hidden;
  flex-direction: column;
  width: 2000px;
  height: 1120px;
  min-width: 2000px;
  min-height: 1120px;
  padding: 0.5--sp;
  background-color: white;
  transform: var(--freya-slide-transform);
  transform-origin: var(--freya-slide-transform-origin);
}

.freya\@progress {
  position: absolute;
  display: var(--freya-display-progress);
  z-index: 10;
  bottom: 0;
  left: 0;
  width: calc(var(--freya-progress) * 1%);
  height: 0.03--sp;
  background-color: #5ac3ea;
}

.freya\@qr {
  display: inline-block;
}

.freya\@qr__wrapper {
  position: relative;
}

.freya\@qr__code {
  width: 100%;
  height: auto;
}

.freya\@qr__image-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.freya\@qr__image {
  background-color: white;
}

.freya\@overlay {
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.freya\@controller {
  position: absolute;
  display: flex;
  z-index: 10;
  opacity: 0.8;
  flex-direction: column;
  gap: var(--freya-controller-padding);
  align-items: center;
  /* stylelint-disable-next-line comment-empty-line-before */
  /* 
      The total size of the element is:
        (--freya-controller-action-size * --freya-controller-actions) + <-- Width of the items
        (--freya-controller-padding * (--freya-controller-actions - 1)) + <-- Width of the internal padding
        (--freya-controller-padding * 2) = <-- External padding
    */
  top: calc(
    50% -
      (
        (var(--freya-controller-action-size) * var(--freya-controller-actions)) +
          (var(--freya-controller-padding) * (var(--freya-controller-actions) + 1))
      ) /
      2
  );
  right: 0;
  padding: var(--freya-controller-padding);
  background-color: rgb(30, 30, 30);

  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.freya\@controller__action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--freya-controller-action-size);
  font-family: var(--freya-font-emoji);
}

.freya\@controller__action,
.freya\@controller__action:active,
.freya\@controller__action:visited {
  color: white;
}

.freya\@controller__action:hover,
.freya\@controller__action:focus {
  color: #5ac3ea;
}

.freya\@controller__action__icon {
  display: inline-block;
  width: calc(var(--freya-controller-action-size) * 0.75);
  height: calc(var(--freya-controller-action-size) * 0.75);
  line-height: 1em;
  vertical-align: middle;
  stroke: currentColor;
  stroke-width: 0;
  fill: currentColor;
}

.freya\@navigator {
  --freya-slide-display-progress: none;
  position: absolute;
  display: grid;
  z-index: 3;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  gap: 0.3--sp 0.2--sp;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: 0.2--sp;
  padding-right: 0.9--sp;
}

.freya\@navigator__close {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.2--sp;
  right: 0.2--sp;
}

.freya\@navigator__close,
.freya\@navigator__close:active,
.freya\@navigator__close:visited {
  color: white;
}

.freya\@navigator__close:hover {
  color: #5ac3ea;
}

.freya\@navigator__close__image {
  height: 0.3--sp;
}

.freya\@navigator__slide {
  --freya-slide-transform-origin: 0 0;
  position: relative;
  display: block;
  overflow: hidden;
  height: var(--freya-navigator-slide-height);
  border-style: solid;
  border-color: transparent;
  border-width: 8px;
  cursor: pointer;
}

.freya\@navigator__slide:hover {
  border-color: #5ac3ea;
}

.freya\@navigator__slide--active {
  border-color: #5ac3ea;
}

.freya\@navigator__slide__contents {
  pointer-events: none;
  user-select: none;
}

.freya\@navigator__slide__number {
  position: absolute;
  display: flex;
  z-index: 2;
  opacity: 0.75;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: calc(3ch + 3rem);
  height: calc(1ch + 3rem);
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: var(--freya-font-noto-sans);
  font-size: 10--pt;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
}

.freya\@presenter {
  --freya-slide-display-progress: none;
  position: absolute;
  display: grid;
  z-index: 3;
  gap: 0.3--sp;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 0.2--sp;
  padding-right: 0.9--sp;
}

.freya\@presenter--with-previous {
  grid-template-areas: 'header header header' 'previous current next' 'u1 notes u2';
  grid-template-columns: 1fr 2fr 1fr;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: min-content min-content 1fr;
}

.freya\@presenter--no-previous {
  grid-template-areas: 'header header' 'current next' 'notes unused';
  grid-template-columns: 2fr 1fr;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: min-content min-content 1fr;
}

.freya\@presenter__header {
  display: flex;
  grid-area: header;
  column-gap: 1ch;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20--pt;
}

.freya\@presenter__header__label {
  font-family: var(--freya-font-noto-sans);
  font-weight: 600;
  line-height: 0.3--sp;
}

.freya\@presenter__header__label--paused {
  opacity: 0.4;
}

.freya\@presenter__header__action {
  font-family: var(--freya-font-emoji);
}

.freya\@presenter__header__action,
.freya\@presenter__header__action:active,
.freya\@presenter__header__action:visited {
  color: white;
}

.freya\@presenter__header__action:hover {
  color: #5ac3ea;
}

.freya\@presenter__header__action__icon {
  height: 0.25--sp;
}

.freya\@presenter__header__action__icon--active {
  color: #5ac3ea;
}

.freya\@presenter__close {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.2--sp;
  right: 0.2--sp;
}

.freya\@presenter__close,
.freya\@presenter__close:active,
.freya\@presenter__close:visited {
  color: white;
}

.freya\@presenter__close:hover {
  color: #5ac3ea;
}

.freya\@presenter__close__image {
  height: 0.3--sp;
}

.freya\@presenter__slide {
  --freya-slide-transform-origin: 0 0;
  position: relative;
  display: block;
  overflow: hidden;
  height: var(--freya-presenter-slide-height);
  border-style: solid;
  border-color: transparent;
  border-width: 8px;
}

.freya\@presenter__slide--previous {
  grid-area: previous;
}

.freya\@presenter__slide--current {
  grid-area: current;
  border-color: #5ac3ea;
}

.freya\@presenter__slide--next {
  grid-area: next;
}

.freya\@presenter__slide__contents {
  pointer-events: none;
  user-select: none;
}

.freya\@presenter__slide__number {
  position: absolute;
  display: flex;
  z-index: 2;
  opacity: 0.75;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: calc(3ch + 3rem);
  height: calc(1ch + 3rem);
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: var(--freya-font-noto-sans);
  font-size: 10--pt;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
}

.freya\@presenter__notes {
  grid-area: notes;
  color: white;
}
