:root {
  --freya-font-system:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --freya-font-monospace: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --freya-font-emoji:
    'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Android Emoji', 'EmojiOne Mozilla', 'Twemoji Mozilla',
    'Noto Emoji', 'Segoe UI Symbol', EmojiSymbols, emoji;
  --freya-font-varela-round:
    'Varela Round', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --freya-font-noto-sans: 'Noto Sans', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --freya-slide-transform: 1;
  --freya-slide-transform-origin: initial;
  --freya-progress: 100;
  --freya-display-progress: block;
  --freya-controller-actions: 6;
  --freya-controller-action-size: 6rem;
  --freya-controller-padding: 1.6rem;
  --freya-navigator-slide-height: auto;
  --freya-index-slideset-title-lines: 2;
  font-size: 10px; /* This sets 1rem = 10px */
}
